body {
	background-color: #e5f5f9;
	font-family: sans-serif;
}
#Abbildung2 {
		background-color: lime;
}
h2 {
	font-family: serif;
	color: green;
	text-align: center;
}
h1 {
	text-align:center; 
	font-size:100px;
	font-family: serif;
	color: green;
}
p {
    color: red;
    text-align: center;
}
